In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/adult.csv') #reading and loading dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
count=0
indicies_to_drop = []
indicies_to_drop_set = set()
column_list = df.columns.to_list()
for x in df.index:
    for column in column_list:
        if df.loc[x, column] == "?":
            count+=1
            indicies_to_drop.append(x)
            indicies_to_drop_set.add(x)
            #print(x)
            #df.drop(x, inplace = True)

#print(count)
print(len(indicies_to_drop_set))

3620

In [6]:
indicies_to_drop_set

{32769,
 24578,
 16387,
 4,
 32771,
 6,
 40967,
 8203,
 13,
 8206,
 32781,
 40975,
 40976,
 19,
 22,
 16409,
 40985,
 24603,
 32796,
 8223,
 35,
 32804,
 40995,
 8231,
 8234,
 16430,
 32816,
 16435,
 8246,
 8248,
 16441,
 8250,
 41016,
 24637,
 65,
 8258,
 24645,
 24646,
 41031,
 8264,
 41033,
 75,
 32847,
 41041,
 83,
 16468,
 89,
 8284,
 24668,
 41054,
 32864,
 8289,
 8290,
 16482,
 100,
 41060,
 41062,
 32876,
 41068,
 113,
 32883,
 41077,
 16502,
 16507,
 41090,
 132,
 24710,
 41094,
 16524,
 16526,
 41102,
 8337,
 16530,
 32916,
 8341,
 41109,
 24727,
 24728,
 41113,
 8346,
 32923,
 32928,
 16547,
 32940,
 8368,
 24753,
 182,
 24758,
 185,
 8377,
 188,
 8383,
 32960,
 193,
 16578,
 41156,
 41157,
 24780,
 16593,
 41171,
 41172,
 41175,
 16607,
 41183,
 228,
 229,
 41194,
 24813,
 33006,
 8432,
 16627,
 16628,
 245,
 33012,
 41204,
 24824,
 16635,
 253,
 33024,
 33029,
 33031,
 266,
 268,
 33036,
 24846,
 41230,
 33041,
 274,
 33043,
 41241,
 16674,
 16678,
 41261,
 305,
 16689,
 33075,
 33079,
 24888,
 33083,
 316,
 41279,
 33091,
 16711,
 16712,
 329,
 33098,
 331,
 41290,
 33108,
 24917,
 16730,
 24924,
 33116,
 350,
 16734,
 33119,
 41315,
 16740,
 41325,
 41327,
 16752,
 41334,
 33143,
 41337,
 378,
 24954,
 16765,
 41341,
 16767,
 41348,
 33159,
 8584,
 394,
 16780,
 397,
 24973,
 24975,
 41357,
 403,
 8599,
 16792,
 16796,
 413,
 16798,
 16799,
 8611,
 420,
 33188,
 41380,
 41386,
 429,
 8621,
 41393,
 434,
 8626,
 16820,
 437,
 8633,
 8635,
 41403,
 16838,
 25030,
 8648,
 41415,
 25038,
 8660,
 25045,
 470,
 471,
 16857,
 25050,
 8667,
 16861,
 33247,
 41444,
 16871,
 16872,
 8681,
 25063,
 33256,
 33259,
 16877,
 25069,
 33265,
 25076,
 8694,
 505,
 8699,
 41467,
 8702,
 25086,
 515,
 516,
 8710,
 8713,
 25103,
 33296,
 8721,
 41489,
 33302,
 41497,
 33311,
 16929,
 41506,
 25128,
 16937,
 33320,
 41516,
 25134,
 41519,
 8753,
 41522,
 563,
 16949,
 8760,
 16952,
 8763,
 25152,
 8773,
 16967,
 41547,
 41551,
 16976,
 8785,
 41556,
 8794,
 604,
 25184,
 16993,
 33377,
 8803,
 612,
 25189,
 33379,
 41576,
 41577,
 25196,
 33388,
 17006,
 41584,
 25201,
 626,
 17010,
 17015,
 41594,
 637,
 640,
 641,
 41602,
 8836,
 8837,
 25221,
 647,
 648,
 8839,
 33413,
 25230,
 8848,
 657,
 8851,
 25235,
 41623,
 664,
 665,
 25244,
 17058,
 8869,
 17061,
 41640,
 33449,
 8875,
 17069,
 17070,
 687,
 17073,
 25266,
 693,
 25272,
 25277,
 703,
 17087,
 33474,
 8900,
 17092,
 33482,
 717,
 41678,
 25296,
 33490,
 8916,
 17111,
 728,
 8921,
 17115,
 25309,
 25311,
 41698,
 8937,
 25321,
 41705,
 41711,
 33528,
 8953,
 41722,
 765,
 768,
 41738,
 41739,
 781,
 17166,
 8975,
 17168,
 17171,
 33555,
 33560,
 8988,
 41759,
 17184,
 25387,
 33580,
 41772,
 816,
 17205,
 41785,
 33595,
 17212,
 33602,
 9030,
 33607,
 9032,
 41800,
 843,
 25419,
 25421,
 25422,
 41803,
 41805,
 17236,
 25428,
 25429,
 41818,
 25436,
 33628,
 9054,
 9056,
 17250,
 41830,
 873,
 25451,
 17263,
 880,
 25459,
 9081,
 41849,
 9083,
 33659,
 41855,
 9089,
 9091,
 41859,
 25478,
 33672,
 41869,
 9102,
 913,
 915,
 17300,
 25492,
 25495,
 17307,
 33693,
 926,
 33695,
 17315,
 17316,
 933,
 17317,
 9128,
 17320,
 41900,
 25518,
 9135,
 17327,
 9137,
 25526,
 41910,
 9144,
 9145,
 41917,
 960,
 33733,
 33743,
 981,
 9175,
 33751,
 9179,
 41950,
 17378,
 33762,
 33763,
 17381,
 25574,
 1000,
 1002,
 1005,
 41966,
 9199,
 1008,
 1009,
 17396,
 1018,
 9211,
 33786,
 41984,
 17412,
 1029,
 25605,
 17415,
 1038,
 1043,
 33812,
 25621,
 9239,
 1048,
 17433,
 25623,
 9243,
 33818,
 42007,
 17439,
 25632,
 25634,
 9251,
 9253,
 1063,
 17448,
 9257,
 25639,
 42029,
 9262,
 25647,
 17456,
 25648,
 42036,
 17461,
 9274,
 17466,
 42053,
 17480,
 9289,
 33868,
 9296,
 17489,
 33875,
 17496,
 17498,
 25690,
 1120,
 9312,
 17505,
 25699,
 42083,
 1127,
 9319,
 42087,
 1130,
 42094,
 33904,
 42100,
 1142,
 9334,
 9339,
 33916,
 17533,
 42107,
 1156,
 25733,
 33924,
 17543,
 33925,
 9353,
 9354,
 1163,
 33928,
 9357,
 33929,
 1167,
 42122,
 1169,
 9361,
 42127,
 42134,
 9367,
 1177,
 17563,
 25758,
 17571,
 9380,
 9381,
 9382,
 25765,
 42151,
 25771,
 1197,
 42158,
 1205,
 25781,
 25784,
 17593,
 17598,
 33989,
 9414,
 17606,
 17607,
 9417,
 33991,
 42183,
 33998,
 25812,
 34004,
 34006,
 1241,
 25817,
 9435,
 17628,
 9437,
 17629,
 17630,
 25818,
 42209,
 42210,
 1251,
 42211,
 25830,
 1258,
 1259,
 25838,
 34031,
 25840,
 34033,
 17652,
 34038,
 34043,
 25858,
 1285,
 17669,
 25861,
 17672,
 25863,
 34054,
 42257,
 9493,
 9494,
 17685,
 9496,
 34071,
 1306,
 42261,
 9501,
 17701,
 25897,
 9516,
 34092,
 42288,
 25905,
 17714,
 25907,
 9524,
 1333,
 42293,
 1338,
 17722,
 17733,
 34118,
 17739,
 25931,
 9551,
 42321,
 1362,
 1364,
 1367,
 9563,
 42332,
 9566,
 9567,
 1377,
 9580,
 34157,
 9584,
 9585,
 1395,
 34163,
 17785,
 42362,
 1405,
 34175,
 25984,
 9602,
 25989,
 42374,
 9607,
 9608,
 1417,
 25993,
 34183,
 34186,
 1427,
 9623,
 9625,
 1438,
 42400,
 17825,
 9634,
 9636,
 26020,
 42408,
 17835,
 17838,
 9648,
 42418,
 17843,
 42424,
 1465,
 17850,
 17851,
 42426,
 17855,
 9667,
 17860,
 17862,
 1480,
 26059,
 42444,
 17873,
 17874,
 26066,
 26068,
 17887,
 26080,
 9698,
 9708,
 42478,
 34289,
 1522,
 9715,
 1524,
 34291,
 17910,
 9723,
 34300,
 1535,
 42502,
 9735,
 42506,
 9739,
 34317,
 17937,
 26130,
 42515,
 9750,
 1560,
 9752,
 17946,
 26141,
 42525,
 34337,
 26147,
 17957,
 9767,
 26153,
 34346,
 42540,
 26166,
 42552,
 1593,
 1595,
 17985,
 17988,
 1606,
 1607,
 17992,
 34375,
 9802,
 42568,
 1612,
 26188,
 1615,
 9807,
 42576,
 42577,
 1625,
 1626,
 26207,
 26208,
 42593,
 18019,
 9831,
 1641,
 1643,
 26219,
 9841,
 42612,
 42613,
 18039,
 9849,
 18042,
 1665,
 42629,
 18054,
 34442,
 18059,
 34445,
 1681,
 9873,
 9875,
 42644,
 26266,
 26268,
 34462,
 42654,
 42656,
 42658,
 1700,
 9898,
 34475,
 9904,
 34482,
 18099,
 26292,
 26294,
 18104,
 26296,
 26297,
 42686,
 34498,
 34499,
 42691,
 1733,
 42697,
 26316,
 42702,
 18127,
 34513,
 1746,
 34514,
 18132,
 34517,
 1750,
 34525,
 26337,
 18146,
 9956,
 26343,
 42727,
 26345,
 34538,
 42731,
 34540,
 1774,
 18159,
 1778,
 1780,
 42741,
 1787,
 9982,
 1791,
 34558,
 18181,
 26375,
 1800,
 1801,
 26379,
 26383,
 34575,
 10001,
 42770,
 1813,
 26391,
 18204,
 1821,
 1822,
 26398,
 42784,
 1828,
 18212,
 1831,
 1832,
 10024,
 1834,
 26407,
 10028,
 1837,
 34603,
 42793,
 42794,
 42803,
 26420,
 34612,
 26424,
 34618,
 10047,
 34623,
 1863,
 10056,
 1866,
 26442,
 18252,
 34637,
 42830,
 34639,
 10065,
 34643,
 34646,
 10076,
 18268,
 18271,
 26463,
 26465,
 42847,
 42850,
 1893,
 34665,
 34667,
 42867,
 10100,
 18296,
 10110,
 42879,
 42880,
 18306,
 26499,
 10116,
 34690,
 34693,
 26503,
 18317,
 26513,
 42897,
 1939,
 1940,
 10132,
 18327,
 1944,
 34719,
 1955,
 10150,
 18342,
 26534,
 10156,
 18353,
 34740,
 34747,
 18365,
 1982,
 34751,
 42942,
 10177,
 10179,
 18372,
 18375,
 26569,
 18380,
 18385,
 18386,
 42962,
 42968,
 10201,
 34777,
 42969,
 10205,
 10207,
 18399,
 10214,
 2023,
 18407,
 26609,
 2042,
 26623,
 26624,
 10241,
 18433,
 34815,
 18436,
 34822,
 2055,
 10248,
 26634,
 2060,
 18444,
 18445,
 26642,
 34836,
 10261,
 10265,
 10266,
 34841,
 34845,
 10270,
 18462,
 10272,
 43043,
 2088,
 34858,
 2092,
 10285,
 2095,
 43057,
 34866,
 2106,
 18491,
 26684,
 18494,
 34880,
 26689,
 34881,
 43072,
 26692,
 2117,
 34885,
 18503,
 43081,
 2122,
 10318,
 34896,
 26706,
 34903,
 10333,
 26718,
 26721,
 10345,
 43119,
 2160,
 2163,
 10355,
 26741,
 34936,
 10363,
 10364,
 18562,
 26756,
 34953,
 43147,
 18573,
 26766,
 26767,
 34958,
 2201,
 10408,
 18604,
 43181,
 18608,
 2226,
 2228,
 35001,
 18621,
 10431,
 35011,
 10436,
 26820,
 43203,
 ...}

In [7]:
#df.loc[indexes_to_drop[10]]
indexes_to_drop=list(indicies_to_drop_set)

In [8]:
df.drop(indexes_to_drop, inplace=True)

In [9]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [10]:
48842 -3620 #verifying all rows with missing values has been dropped

45222

In [11]:
print(df.info())  # Display DataFrame info
print(df.head())  # Display first few rows of the DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 45222 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   fnlwgt           45222 non-null  int64
 3   education        45222 non-null  object
 4   educational-num  45222 non-null  int64
 5   marital-status   45222 non-null  object
 6   occupation       45222 non-null  object
 7   relationship     45222 non-null  object
 8   race             45222 non-null  object
 9   gender           45222 non-null  object
 10  capital-gain     45222 non-null  int64
 11  capital-loss     45222 non-null  int64
 12  hours-per-week   45222 non-null  int64
 13  native-country   45222 non-null  object
 14  income           45222 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.5+ MB
None
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
5   34    Private  198693          10th                6       Never-married

          occupation   relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct      Own-child  Black   Male             0             0
1    Farming-fishing        Husband  White   Male             0             0
2    Protective-serv        Husband  White   Male             0             0
3  Machine-op-inspct        Husband  Black   Male          7688             0
5      Other-service  Not-in-family  White   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
5              30  United-States  <=50K

In [12]:
df.drop_duplicates(inplace = True)# dropping any duplicate rows

In [13]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [14]:
df.head(50)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
30,46,State-gov,106444,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,7688,0,38,United-States,>50K
31,56,Self-emp-not-inc,186651,11th,7,Widowed,Other-service,Unmarried,White,Female,0,0,50,United-States,<=50K
32,24,Self-emp-not-inc,188274,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,0,50,United-States,<=50K
33,23,Local-gov,258120,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
34,26,Private,43311,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
36,36,Local-gov,403681,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
37,22,Private,248446,5th-6th,3,Never-married,Priv-house-serv,Not-in-family,White,Male,0,0,50,Guatemala,<=50K
38,17,Private,269430,10th,6,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K
39,20,Private,257509,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
40,65,Private,136384,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
41,44,Self-emp-inc,120277,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
42,36,Private,465326,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
43,29,Private,103634,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
44,20,State-gov,138371,Some-college,10,Never-married,Farming-fishing,Own-child,White,Male,0,0,32,United-States,<=50K
45,28,Private,242832,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,36,United-States,>50K
46,39,Private,290208,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Mexico,<=50K
47,54,Private,186272,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,3908,0,50,United-States,<=50K
48,52,Private,201062,11th,7,Separated,Priv-house-serv,Not-in-family,Black,Female,0,0,18,United-States,<=50K
49,56,Self-emp-inc,131916,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States,<=50K
50,18,Private,54440,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
51,39,Private,280215,HS-grad,9,Divorced,Handlers-cleaners,Own-child,Black,Male,0,0,40,United-States,<=50K
52,21,Private,214399,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,1721,24,United-States,<=50K
53,22,Private,54164,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,14084,0,60,United-States,>50K
54,38,Private,219446,9th,5,Married-spouse-absent,Exec-managerial,Not-in-family,White,Male,0,0,54,Mexico,<=50K
55,21,Private,110677,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K

In [15]:
#since there is already education-num let's drop the column education (we don't need any redundancy )
df.drop(columns=['education'], inplace=True)

In [16]:
df

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

***ENCODING***

In [17]:
#lets find out the unique categories in the column maritial0status
#Ordinal Encoding 
unique_categories = df['marital-status'].unique()
print("Unique categories:", unique_categories)

Unique categories: ['Never-married' 'Married-civ-spouse' 'Widowed' 'Separated' 'Divorced'
 'Married-spouse-absent' 'Married-AF-spouse']

In [18]:
#mapping these categories into integers

In [19]:
mapping = {
    'Never-married': 1,
    'Married-civ-spouse': 2,
    'Divorced': 3,
    'Married-spouse-absent': 4,
    'Separated': 5,
    'Married-AF-spouse': 6,
    'Widowed': 7
}

In [20]:
#apply mapping to dataframe

In [21]:
df['marital-status-encoded'] = df['marital-status'].map(mapping)

In [22]:
df['marital-status-encoded']

0        1
1        2
2        2
3        2
5        1
        ..
48837    2
48838    2
48839    7
48840    1
48841    2
Name: marital-status-encoded, Length: 45175, dtype: int64

In [23]:
#dropping the original 'marital-status' column as we no longer need it
df.drop(columns=['marital-status'], inplace=True)

In [24]:
df

,age,workclass,fnlwgt,educational-num,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,marital-status-encoded
0,25,Private,226802,7,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,1
1,38,Private,89814,9,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,2
2,28,Local-gov,336951,12,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,2
3,44,Private,160323,10,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,2
5,34,Private,198693,6,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,12,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,2
48838,40,Private,154374,9,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,2
48839,58,Private,151910,9,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,7
48840,22,Private,201490,9,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,1
48841,52,Self-emp-inc,287927,9,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,2

In [25]:
# let's now focus on the work-class

In [26]:
unique_categories_workclass = df['workclass'].unique()
print("Unique categories in workclass:", unique_categories_workclass)

Unique categories in workclass: ['Private' 'Local-gov' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay']

In [27]:
# Step 2: Create Dummy Variables
# Use pandas.get_dummies() function to create dummy variables
dummy_variables_workclass = pd.get_dummies(df['workclass'], prefix='workclass')

In [28]:
print(dummy_variables_workclass)

       workclass_Federal-gov  workclass_Local-gov  workclass_Private  \
0                      False                False               True
1                      False                False               True
2                      False                 True              False
3                      False                False               True
5                      False                False               True
...                      ...                  ...                ...
48837                  False                False               True
48838                  False                False               True
48839                  False                False               True
48840                  False                False               True
48841                  False                False              False

       workclass_Self-emp-inc  workclass_Self-emp-not-inc  \
0                       False                       False
1                       False                       False
2                       False                       False
3                       False                       False
5                       False                       False
...                       ...                         ...
48837                   False                       False
48838                   False                       False
48839                   False                       False
48840                   False                       False
48841                    True                       False

       workclass_State-gov  workclass_Without-pay
0                    False                  False
1                    False                  False
2                    False                  False
3                    False                  False
5                    False                  False
...                    ...                    ...
48837                False                  False
48838                False                  False
48839                False                  False
48840                False                  False
48841                False                  False

[45175 rows x 7 columns]

In [30]:
# Step 3: Merge Dummy Variables with the Original DataFrame
# Concatenate the original DataFrame with the dummy variables DataFrame
df = pd.concat([df, dummy_variables_workclass], axis=1)

In [31]:
# Optionally, you can drop the original 'workclass' column if you no longer need it
df.drop(columns=['workclass'], inplace=True)

# Display the DataFrame to verify the changes
print(df.head())

   age  fnlwgt  educational-num         occupation   relationship   race  \
0   25  226802                7  Machine-op-inspct      Own-child  Black
1   38   89814                9    Farming-fishing        Husband  White
2   28  336951               12    Protective-serv        Husband  White
3   44  160323               10  Machine-op-inspct        Husband  Black
5   34  198693                6      Other-service  Not-in-family  White

  gender  capital-gain  capital-loss  hours-per-week  ...  \
0   Male             0             0              40  ...
1   Male             0             0              50  ...
2   Male             0             0              40  ...
3   Male          7688             0              40  ...
5   Male             0             0              30  ...

   workclass_Self-emp-not-inc  workclass_State-gov  workclass_Without-pay  \
0                       False                False                  False
1                       False                False                  False
2                       False                False                  False
3                       False                False                  False
5                       False                False                  False

   workclass_Federal-gov  workclass_Local-gov  workclass_Private  \
0                  False                False               True
1                  False                False               True
2                  False                 True              False
3                  False                False               True
5                  False                False               True

   workclass_Self-emp-inc  workclass_Self-emp-not-inc  workclass_State-gov  \
0                   False                       False                False
1                   False                       False                False
2                   False                       False                False
3                   False                       False                False
5                   False                       False                False

   workclass_Without-pay
0                  False
1                  False
2                  False
3                  False
5                  False

[5 rows x 27 columns]

In [32]:
# let's now focus on the occupation

In [33]:
unique_categories_occupation = df['occupation'].unique()

In [34]:
print(unique_categories_occupation)

['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' 'Other-service'
 'Prof-specialty' 'Craft-repair' 'Adm-clerical' 'Exec-managerial'
 'Tech-support' 'Sales' 'Priv-house-serv' 'Transport-moving'
 'Handlers-cleaners' 'Armed-Forces']

In [36]:
dummy_variables_occupation = pd.get_dummies(df['occupation'], prefix='occupation')
dummy_variables_occupation

,occupation_Adm-clerical,occupation_Armed-Forces,occupation_Craft-repair,occupation_Exec-managerial,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,False,False,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,False,True,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,False,False,False,False,False,False,False,False,False,False,False,False,True,False
48838,False,False,False,False,False,False,True,False,False,False,False,False,False,False
48839,True,False,False,False,False,False,False,False,False,False,False,False,False,False
48840,True,False,False,False,False,False,False,False,False,False,False,False,False,False
48841,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [37]:
#adding the dummy variables columns of occupation with our orignial df 
df = pd.concat([df, dummy_variables_occupation], axis=1)

In [38]:
df.drop(columns=['occupation'], inplace=True)

In [39]:
df

,age,fnlwgt,educational-num,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,25,226802,7,Own-child,Black,Male,0,0,40,United-States,...,False,False,True,False,False,False,False,False,False,False
1,38,89814,9,Husband,White,Male,0,0,50,United-States,...,True,False,False,False,False,False,False,False,False,False
2,28,336951,12,Husband,White,Male,0,0,40,United-States,...,False,False,False,False,False,False,True,False,False,False
3,44,160323,10,Husband,Black,Male,7688,0,40,United-States,...,False,False,True,False,False,False,False,False,False,False
5,34,198693,6,Not-in-family,White,Male,0,0,30,United-States,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,257302,12,Wife,White,Female,0,0,38,United-States,...,False,False,False,False,False,False,False,False,True,False
48838,40,154374,9,Husband,White,Male,0,0,40,United-States,...,False,False,True,False,False,False,False,False,False,False
48839,58,151910,9,Unmarried,White,Female,0,0,40,United-States,...,False,False,False,False,False,False,False,False,False,False
48840,22,201490,9,Own-child,White,Male,0,0,20,United-States,...,False,False,False,False,False,False,False,False,False,False
48841,52,287927,9,Wife,White,Female,15024,0,40,United-States,...,False,False,False,False,False,False,False,False,False,False

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45175 entries, 0 to 48841
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   age                           45175 non-null  int64
 1   fnlwgt                        45175 non-null  int64
 2   educational-num               45175 non-null  int64
 3   relationship                  45175 non-null  object
 4   race                          45175 non-null  object
 5   gender                        45175 non-null  object
 6   capital-gain                  45175 non-null  int64
 7   capital-loss                  45175 non-null  int64
 8   hours-per-week                45175 non-null  int64
 9   native-country                45175 non-null  object
 10  income                        45175 non-null  object
 11  marital-status-encoded        45175 non-null  int64
 12  workclass_Federal-gov         45175 non-null  bool
 13  workclass_Local-gov           45175 non-null  bool
 14  workclass_Private             45175 non-null  bool
 15  workclass_Self-emp-inc        45175 non-null  bool
 16  workclass_Self-emp-not-inc    45175 non-null  bool
 17  workclass_State-gov           45175 non-null  bool
 18  workclass_Without-pay         45175 non-null  bool
 19  workclass_Federal-gov         45175 non-null  bool
 20  workclass_Local-gov           45175 non-null  bool
 21  workclass_Private             45175 non-null  bool
 22  workclass_Self-emp-inc        45175 non-null  bool
 23  workclass_Self-emp-not-inc    45175 non-null  bool
 24  workclass_State-gov           45175 non-null  bool
 25  workclass_Without-pay         45175 non-null  bool
 26  occupation_Adm-clerical       45175 non-null  bool
 27  occupation_Armed-Forces       45175 non-null  bool
 28  occupation_Craft-repair       45175 non-null  bool
 29  occupation_Exec-managerial    45175 non-null  bool
 30  occupation_Farming-fishing    45175 non-null  bool
 31  occupation_Handlers-cleaners  45175 non-null  bool
 32  occupation_Machine-op-inspct  45175 non-null  bool
 33  occupation_Other-service      45175 non-null  bool
 34  occupation_Priv-house-serv    45175 non-null  bool
 35  occupation_Prof-specialty     45175 non-null  bool
 36  occupation_Protective-serv    45175 non-null  bool
 37  occupation_Sales              45175 non-null  bool
 38  occupation_Tech-support       45175 non-null  bool
 39  occupation_Transport-moving   45175 non-null  bool
dtypes: bool(28), int64(7), object(5)
memory usage: 5.7+ MB

In [42]:
unique_categories_relationship = df['relationship'].unique()
print("Unique categories in relationship:", unique_categories_relationship)

unique_categories_race = df['race'].unique()
print("Unique categories in race:", unique_categories_race)

unique_categories_sex = df['gender'].unique()
print("Unique categories in sex:", unique_categories_sex)

unique_categories_native_country = df['native-country'].unique()
print("Unique categories in native-country:", unique_categories_native_country)
# For 'relationship'
dummy_variables_relationship = pd.get_dummies(df['relationship'], prefix='relationship')
df = pd.concat([df, dummy_variables_relationship], axis=1)
df.drop(columns=['relationship'], inplace=True)

# For 'race'
dummy_variables_race = pd.get_dummies(df['race'], prefix='race')
df = pd.concat([df, dummy_variables_race], axis=1)
df.drop(columns=['race'], inplace=True)

# For 'sex'
dummy_variables_sex = pd.get_dummies(df['gender'], prefix='gender')
df = pd.concat([df, dummy_variables_sex], axis=1)
df.drop(columns=['gender'], inplace=True)

# For 'native-country'
dummy_variables_native_country = pd.get_dummies(df['native-country'], prefix='native-country')
df = pd.concat([df, dummy_variables_native_country], axis=1)
df.drop(columns=['native-country'], inplace=True)

# Display the DataFrame to verify the changes
print(df.head())

Unique categories in relationship: ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
Unique categories in race: ['Black' 'White' 'Other' 'Amer-Indian-Eskimo' 'Asian-Pac-Islander']
Unique categories in sex: ['Male' 'Female']
Unique categories in native-country: ['United-States' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
   age  fnlwgt  educational-num  capital-gain  capital-loss  hours-per-week  \
0   25  226802                7             0             0              40
1   38   89814                9             0             0              50
2   28  336951               12             0             0              40
3   44  160323               10          7688             0              40
5   34  198693                6             0             0              30

  income  marital-status-encoded  workclass_Federal-gov  workclass_Local-gov  \
0  <=50K                       1                  False                False
1  <=50K                       2                  False                False
2   >50K                       2                  False                 True
3   >50K                       2                  False                False
5  <=50K                       1                  False                False

   ...  native-country_Portugal  native-country_Puerto-Rico  \
0  ...                    False                       False
1  ...                    False                       False
2  ...                    False                       False
3  ...                    False                       False
5  ...                    False                       False

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                    False                 False                  False
1                    False                 False                  False
2                    False                 False                  False
3                    False                 False                  False
5                    False                 False                  False

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                    False                           False
1                    False                           False
2                    False                           False
3                    False                           False
5                    False                           False

   native-country_United-States  native-country_Vietnam  \
0                          True                   False
1                          True                   False
2                          True                   False
3                          True                   False
5                          True                   False

   native-country_Yugoslavia
0                      False
1                      False
2                      False
3                      False
5                      False

[5 rows x 90 columns]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45175 entries, 0 to 48841
Data columns (total 90 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        45175 non-null  int64
 1   fnlwgt                                     45175 non-null  int64
 2   educational-num                            45175 non-null  int64
 3   capital-gain                               45175 non-null  int64
 4   capital-loss                               45175 non-null  int64
 5   hours-per-week                             45175 non-null  int64
 6   income                                     45175 non-null  object
 7   marital-status-encoded                     45175 non-null  int64
 8   workclass_Federal-gov                      45175 non-null  bool
 9   workclass_Local-gov                        45175 non-null  bool
 10  workclass_Private                          45175 non-null  bool
 11  workclass_Self-emp-inc                     45175 non-null  bool
 12  workclass_Self-emp-not-inc                 45175 non-null  bool
 13  workclass_State-gov                        45175 non-null  bool
 14  workclass_Without-pay                      45175 non-null  bool
 15  workclass_Federal-gov                      45175 non-null  bool
 16  workclass_Local-gov                        45175 non-null  bool
 17  workclass_Private                          45175 non-null  bool
 18  workclass_Self-emp-inc                     45175 non-null  bool
 19  workclass_Self-emp-not-inc                 45175 non-null  bool
 20  workclass_State-gov                        45175 non-null  bool
 21  workclass_Without-pay                      45175 non-null  bool
 22  occupation_Adm-clerical                    45175 non-null  bool
 23  occupation_Armed-Forces                    45175 non-null  bool
 24  occupation_Craft-repair                    45175 non-null  bool
 25  occupation_Exec-managerial                 45175 non-null  bool
 26  occupation_Farming-fishing                 45175 non-null  bool
 27  occupation_Handlers-cleaners               45175 non-null  bool
 28  occupation_Machine-op-inspct               45175 non-null  bool
 29  occupation_Other-service                   45175 non-null  bool
 30  occupation_Priv-house-serv                 45175 non-null  bool
 31  occupation_Prof-specialty                  45175 non-null  bool
 32  occupation_Protective-serv                 45175 non-null  bool
 33  occupation_Sales                           45175 non-null  bool
 34  occupation_Tech-support                    45175 non-null  bool
 35  occupation_Transport-moving                45175 non-null  bool
 36  relationship_Husband                       45175 non-null  bool
 37  relationship_Not-in-family                 45175 non-null  bool
 38  relationship_Other-relative                45175 non-null  bool
 39  relationship_Own-child                     45175 non-null  bool
 40  relationship_Unmarried                     45175 non-null  bool
 41  relationship_Wife                          45175 non-null  bool
 42  race_Amer-Indian-Eskimo                    45175 non-null  bool
 43  race_Asian-Pac-Islander                    45175 non-null  bool
 44  race_Black                                 45175 non-null  bool
 45  race_Other                                 45175 non-null  bool
 46  race_White                                 45175 non-null  bool
 47  gender_Female                              45175 non-null  bool
 48  gender_Male                                45175 non-null  bool
 49  native-country_Cambodia                    45175 non-null  bool
 50  native-country_Canada                      45175 non-null  bool
 51  native-country_China                       45175 non-null  bool
 52  native-country_Columbia                    45175 non-null  bool
 53  native-country_Cuba                        45175 non-null  bool
 54  native-country_Dominican-Republic          45175 non-null  bool
 55  native-country_Ecuador                     45175 non-null  bool
 56  native-country_El-Salvador                 45175 non-null  bool
 57  native-country_England                     45175 non-null  bool
 58  native-country_France                      45175 non-null  bool
 59  native-country_Germany                     45175 non-null  bool
 60  native-country_Greece                      45175 non-null  bool
 61  native-country_Guatemala                   45175 non-null  bool
 62  native-country_Haiti                       45175 non-null  bool
 63  native-country_Holand-Netherlands          45175 non-null  bool
 64  native-country_Honduras                    45175 non-null  bool
 65  native-country_Hong                        45175 non-null  bool
 66  native-country_Hungary                     45175 non-null  bool
 67  native-country_India                       45175 non-null  bool
 68  native-country_Iran                        45175 non-null  bool
 69  native-country_Ireland                     45175 non-null  bool
 70  native-country_Italy                       45175 non-null  bool
 71  native-country_Jamaica                     45175 non-null  bool
 72  native-country_Japan                       45175 non-null  bool
 73  native-country_Laos                        45175 non-null  bool
 74  native-country_Mexico                      45175 non-null  bool
 75  native-country_Nicaragua                   45175 non-null  bool
 76  native-country_Outlying-US(Guam-USVI-etc)  45175 non-null  bool
 77  native-country_Peru                        45175 non-null  bool
 78  native-country_Philippines                 45175 non-null  bool
 79  native-country_Poland                      45175 non-null  bool
 80  native-country_Portugal                    45175 non-null  bool
 81  native-country_Puerto-Rico                 45175 non-null  bool
 82  native-country_Scotland                    45175 non-null  bool
 83  native-country_South                       45175 non-null  bool
 84  native-country_Taiwan                      45175 non-null  bool
 85  native-country_Thailand                    45175 non-null  bool
 86  native-country_Trinadad&Tobago             45175 non-null  bool
 87  native-country_United-States               45175 non-null  bool
 88  native-country_Vietnam                     45175 non-null  bool
 89  native-country_Yugoslavia                  45175 non-null  bool
dtypes: bool(82), int64(7), object(1)
memory usage: 6.6+ MB

In [49]:
#for income column
unique_category_income = df['income'].unique()
unique_category_income

array(['<=50K', '>50K'], dtype=object)

In [54]:
dummy_variable_income = pd.get_dummies(df['income'], prefix='income')
print(dummy_variable_income)

       income_<=50K  income_>50K
0              True        False
1              True        False
2             False         True
3             False         True
5              True        False
...             ...          ...
48837          True        False
48838         False         True
48839          True        False
48840          True        False
48841         False         True

[45175 rows x 2 columns]

In [58]:
df = pd.concat([df, dummy_variable_income],axis =1)
df.drop(columns=['income'], inplace=True)

In [59]:
df

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,marital-status-encoded,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_<=50K,income_>50K,income_<=50K,income_>50K
0,25,226802,7,0,0,40,1,False,False,True,...,False,False,False,True,False,False,True,False,True,False
1,38,89814,9,0,0,50,2,False,False,True,...,False,False,False,True,False,False,True,False,True,False
2,28,336951,12,0,0,40,2,False,True,False,...,False,False,False,True,False,False,False,True,False,True
3,44,160323,10,7688,0,40,2,False,False,True,...,False,False,False,True,False,False,False,True,False,True
5,34,198693,6,0,0,30,1,False,False,True,...,False,False,False,True,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,257302,12,0,0,38,2,False,False,True,...,False,False,False,True,False,False,True,False,True,False
48838,40,154374,9,0,0,40,2,False,False,True,...,False,False,False,True,False,False,False,True,False,True
48839,58,151910,9,0,0,40,7,False,False,True,...,False,False,False,True,False,False,True,False,True,False
48840,22,201490,9,0,0,20,1,False,False,True,...,False,False,False,True,False,False,True,False,True,False
48841,52,287927,9,15024,0,40,2,False,False,False,...,False,False,False,True,False,False,False,True,False,True

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45175 entries, 0 to 48841
Data columns (total 93 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   age                                        45175 non-null  int64
 1   fnlwgt                                     45175 non-null  int64
 2   educational-num                            45175 non-null  int64
 3   capital-gain                               45175 non-null  int64
 4   capital-loss                               45175 non-null  int64
 5   hours-per-week                             45175 non-null  int64
 6   marital-status-encoded                     45175 non-null  int64
 7   workclass_Federal-gov                      45175 non-null  bool
 8   workclass_Local-gov                        45175 non-null  bool
 9   workclass_Private                          45175 non-null  bool
 10  workclass_Self-emp-inc                     45175 non-null  bool
 11  workclass_Self-emp-not-inc                 45175 non-null  bool
 12  workclass_State-gov                        45175 non-null  bool
 13  workclass_Without-pay                      45175 non-null  bool
 14  workclass_Federal-gov                      45175 non-null  bool
 15  workclass_Local-gov                        45175 non-null  bool
 16  workclass_Private                          45175 non-null  bool
 17  workclass_Self-emp-inc                     45175 non-null  bool
 18  workclass_Self-emp-not-inc                 45175 non-null  bool
 19  workclass_State-gov                        45175 non-null  bool
 20  workclass_Without-pay                      45175 non-null  bool
 21  occupation_Adm-clerical                    45175 non-null  bool
 22  occupation_Armed-Forces                    45175 non-null  bool
 23  occupation_Craft-repair                    45175 non-null  bool
 24  occupation_Exec-managerial                 45175 non-null  bool
 25  occupation_Farming-fishing                 45175 non-null  bool
 26  occupation_Handlers-cleaners               45175 non-null  bool
 27  occupation_Machine-op-inspct               45175 non-null  bool
 28  occupation_Other-service                   45175 non-null  bool
 29  occupation_Priv-house-serv                 45175 non-null  bool
 30  occupation_Prof-specialty                  45175 non-null  bool
 31  occupation_Protective-serv                 45175 non-null  bool
 32  occupation_Sales                           45175 non-null  bool
 33  occupation_Tech-support                    45175 non-null  bool
 34  occupation_Transport-moving                45175 non-null  bool
 35  relationship_Husband                       45175 non-null  bool
 36  relationship_Not-in-family                 45175 non-null  bool
 37  relationship_Other-relative                45175 non-null  bool
 38  relationship_Own-child                     45175 non-null  bool
 39  relationship_Unmarried                     45175 non-null  bool
 40  relationship_Wife                          45175 non-null  bool
 41  race_Amer-Indian-Eskimo                    45175 non-null  bool
 42  race_Asian-Pac-Islander                    45175 non-null  bool
 43  race_Black                                 45175 non-null  bool
 44  race_Other                                 45175 non-null  bool
 45  race_White                                 45175 non-null  bool
 46  gender_Female                              45175 non-null  bool
 47  gender_Male                                45175 non-null  bool
 48  native-country_Cambodia                    45175 non-null  bool
 49  native-country_Canada                      45175 non-null  bool
 50  native-country_China                       45175 non-null  bool
 51  native-country_Columbia                    45175 non-null  bool
 52  native-country_Cuba                        45175 non-null  bool
 53  native-country_Dominican-Republic          45175 non-null  bool
 54  native-country_Ecuador                     45175 non-null  bool
 55  native-country_El-Salvador                 45175 non-null  bool
 56  native-country_England                     45175 non-null  bool
 57  native-country_France                      45175 non-null  bool
 58  native-country_Germany                     45175 non-null  bool
 59  native-country_Greece                      45175 non-null  bool
 60  native-country_Guatemala                   45175 non-null  bool
 61  native-country_Haiti                       45175 non-null  bool
 62  native-country_Holand-Netherlands          45175 non-null  bool
 63  native-country_Honduras                    45175 non-null  bool
 64  native-country_Hong                        45175 non-null  bool
 65  native-country_Hungary                     45175 non-null  bool
 66  native-country_India                       45175 non-null  bool
 67  native-country_Iran                        45175 non-null  bool
 68  native-country_Ireland                     45175 non-null  bool
 69  native-country_Italy                       45175 non-null  bool
 70  native-country_Jamaica                     45175 non-null  bool
 71  native-country_Japan                       45175 non-null  bool
 72  native-country_Laos                        45175 non-null  bool
 73  native-country_Mexico                      45175 non-null  bool
 74  native-country_Nicaragua                   45175 non-null  bool
 75  native-country_Outlying-US(Guam-USVI-etc)  45175 non-null  bool
 76  native-country_Peru                        45175 non-null  bool
 77  native-country_Philippines                 45175 non-null  bool
 78  native-country_Poland                      45175 non-null  bool
 79  native-country_Portugal                    45175 non-null  bool
 80  native-country_Puerto-Rico                 45175 non-null  bool
 81  native-country_Scotland                    45175 non-null  bool
 82  native-country_South                       45175 non-null  bool
 83  native-country_Taiwan                      45175 non-null  bool
 84  native-country_Thailand                    45175 non-null  bool
 85  native-country_Trinadad&Tobago             45175 non-null  bool
 86  native-country_United-States               45175 non-null  bool
 87  native-country_Vietnam                     45175 non-null  bool
 88  native-country_Yugoslavia                  45175 non-null  bool
 89  income_<=50K                               45175 non-null  bool
 90  income_>50K                                45175 non-null  bool
 91  income_<=50K                               45175 non-null  bool
 92  income_>50K                                45175 non-null  bool
dtypes: bool(86), int64(7)
memory usage: 6.5 MB