What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [14]:
import pandas as pd

a = [1, 7, 2]
print(a)
myvar = pd.Series(a)

print(myvar)

[1, 7, 2]
0    1
1    7
2    2
dtype: int64

In [8]:
print(myvar[0])

1

In [20]:
# renamiing 0,1,2,3 serial no# into abcs
#here these serial no. are called labels
newseries = pd.Series(a, index= ['a','b','c'])

In [21]:
print(newseries)

a    1
b    7
c    2
dtype: int64

In [22]:
print(newseries['b'])

7

Key Value as series

In [29]:
my_dic = {
    'fruits': ['apple', 'orange'],
    'cars' : ['suv', 'sedan']
}

In [30]:
my_dic_series = pd.Series(my_dic)

In [31]:
print(my_dic_series
     )#keys become lables

fruits    [apple, orange]
cars         [suv, sedan]
dtype: object

DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [38]:
#creating a dataframe from a dictionary
mydf = pd.DataFrame(my_dic)
mydf

   fruits   cars
0   apple    suv
1  orange  sedan

In [40]:
mydf.loc[0]

fruits    apple
cars        suv
Name: 0, dtype: object

In [43]:
mydf.loc[[0,1]]

   fruits   cars
0   apple    suv
1  orange  sedan